@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */
h1, h2 {
    font-family: Anton, sans-serif;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#logo {
    float: left;
    font-size: 300%;
}
