@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: rgb(66, 63, 63)66;
    background-color: rgb(246, 245, 245);
}

/*  headings and logo  */
h1,
h2 {
    font-family: Anton, sans-serif;
    font-weight: 400;
    color: rgb(66, 63, 63);
    text-transform: uppercase;
    letter-spacing: 5px;
}


#logo {
    float: left;
    font-size: 300%;
    line-height: 75px;
    padding-left: 30px;
    letter-spacing: 8px;
}

/* menu and navigation bar */
#menu {
    font-size: large;
    letter-spacing: 2px;
    float: right;
}

#menu li {
    list-style-type: none;
    float: left;
    margin-right: 35px;
}

#menu a {
    font-family: Anton, sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: rgb(66, 63, 63);
    line-height: 75px;
    padding: 5px 2px 5px 2px;
}

#menu a:hover {
    border: 2px solid rgb(66, 63, 63);
}

.active {
    border-bottom: 2px solid black;
}

/* main-image and table reservation*/

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/veg-food.jpeg') no-repeat center center;
    overflow: hidden;
    background-position: center;
    background-size: cover;


}

#booking {
    background-color: rgb(66, 63, 63);
    color: rgb(250, 237, 220);

    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 200px;
    border: 2px solid rgb(66, 63, 63);
    border-radius: 50%;


}

#booking h3 {

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 130%;
    padding-top: 12px;
}

h3 a {
    color: rgb(246, 245, 245);
    text-decoration: none;
}

#booking:hover {
    background-color: rgb(246, 245, 245);

    border: 2px solid black;
    transform: scale(2)
}

h3 a:hover {
    color: rgb(66, 63, 63);

}

/* table reservation form */

.form-section {
    height: 900px;
    background-color: rgb(246, 245, 245);
    background-image:url(../booking-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
}

.booking-form {

    margin-left: 18%;
    margin-top: 8%;
    margin-bottom: 30px;
    background-color: rgba(225, 225, 225, 0.406);
    height: 600px;
    width: 800px;
    padding-left: 100px;
    padding-top: 30px;
    position: absolute;
}

.booking-form h2 {
    margin-bottom: 10px;
}

.booking-form p {
    font-family: Anton, sans-serif;
    color: rgb(82, 82, 82);
    margin-bottom: 8px;
    display: block;

}

.input-data {
    width: 50%;
    height: 25px;
    border: 2px solid rgb(82, 82, 82);
    display: block;

}

label {
    display: block;
    padding-bottom: 5px;
    padding-top: 3px;
}

#time {
    display: block;
}

.request-button {
    background-color: rgb(61, 61, 61);
    color: rgb(225, 225, 225);
    margin-top: 10px;
    font-size: larger;
    padding: 10px 20px;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
    text-decoration: none;

}

.request-button:hover {
    color: gold;
    border-color: gold;
}

#request {
    height: 600px;
    width: 100%;
    background-color: rgba(161, 159, 159, 0.445);
    background-image: url(../images/table-booking.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clear: both;

}

#response {
    height: 400px; 
    width: 100%;
    padding-left: 25%;
    padding-top:15%;
    background-color:  rgba(161, 159, 159, 0.546);
}
#response h3 {
    font-size: xx-large;
    
}
#response p {
    font-size: x-large;
    font-weight: 600;
    padding-top: 10px;
}

/* about us  */
#about {
    background-color: rgb(246, 245, 245);
    height: 500px;
    width: 100%;

}

#abt-us {
    background-color: rgb(225, 225, 225);
    height: 400px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 7%;
    border: 2px solid rgb(57, 56, 56);

}

#abt-us h2 {
    padding: 30px 0 10px 0;
}

#abt-us p {
    font-family: inherit;
    font-size: large;
    font-weight: 400;
    margin: 60px 30px 5px 30px;
    padding: 5px 20px 5px 20px;
    text-align: justify;

}

/* menu card */
#menu-card {
    height: 750px;
    width: 100%;
    background-color: rgba(214, 211, 211, 0.564);
    background: url(../images/table-photo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;

}

#menu-card h1 {
    font-family: Anton, sans-serif;
    font-size: xx-large;
    color: rgb(49, 48, 48);
    padding-top: 10px;
    text-align: center;
    background-color: rgba(122, 120, 120, 0.459);
}

#menu-card h1:hover {
    color: gold;
}

#left-m {
    color: rgb(255, 255, 255);
    background-color: rgba(90, 89, 89, 0.358);
    border: 4px solid rgb(33, 32, 32);
    width: 45%;
    height: 550px;
    margin-left: 20px;
    margin-top: 50px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    float: left;

}

#left-m:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: gold
}

#left-m h3 {
    padding-top: 10px;
    padding-left: 40px;

}

#left-m li {
    padding-top: 5px;
    margin-left: 20%;
    list-style: none;
}

#right-m {
    color: rgb(255, 255, 255);
    background-color: rgba(90, 89, 89, 0.358);
    border: 4px solid rgb(33, 32, 32);
    width: 45%;
    height: 550px;
    margin-right: 20px;
    margin-top: 50px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    float: right;

}

#right-m:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: gold
}

#right-m h3 {
    padding-top: 10px;
    padding-right: 40px;
    float: right;

}

#right-m li {

    padding-top: 10px;
    margin-right: 10%;
    margin-left: 50%;
    list-style: none;

}

/* Contact, timings, address and location on googlemap */
#info {
    height: 500px;
    width: 100%;
    background-color: rgb(225, 225, 225);
    padding-top: 20px;
    
    
}
#contact {
    float: right;
    width: 30%;
    padding-right: 10%;
}

#call h2 {
    text-decoration: underline;
}

#time h2 {
    text-decoration: underline;
}

#location h2 {
    text-decoration: underline;
}
#map {
    float: left;
    max-height: 200px;
    width: 30%;
    padding-left: 10%;

}


/* footer */
/* social media links */
footer {
    height: 150px;
    background-color: black;
}

footer>h2 {
    text-align: center;
    color: rgb(225, 225, 225);
    padding-top: 20px;

}

.social-networks {
    text-align: center;


}

.social-networks li {
    display: inline;


}

.social-networks i {

    font-size: 200%;
    padding: 5px 15px;
    margin-top: 15px;

    color: rgb(134, 132, 132);
    border: 2px solid rgb(4, 4, 4);

}

.social-networks i:hover {
    color: rgb(134, 132, 132);
    border: 2px solid gold;
    transition: 2s;
    transform: scale(0.9);
    animation-fill-mode: backwards;

}

footer p {
    color: rgb(134, 132, 132);
    text-align: center;
}

/*navigation bar for medium screen size 950px and down */

@media (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-bottom: 15px;
        padding-left: 15px;
        line-height: 25px;
        display: flex;
        font-size: medium;
        letter-spacing: 0;
    }
    #main-image{
        width: 100%;
        height: 600px;
      
    }
    /* about us */
    #about {
        width: 80%;
        height:400px
        }
    #abt-us  {
        width:80%;
        height: 300px;
        margin: 20%;
        
        overflow: hidden;
        overflow-y: scroll;
        }
        #abt-us p {
            margin-top: 0;
        }
         /*menu*/
         #menu-card {
            height: 750px;
            width: 100%;
         }
         #left-m {
           border-radius: 100px;
           overflow-wrap: normal;
           
         }
         #left-m h3 {
            padding-top: 10px;
            padding-left: 15%;
            padding-bottom: 0;
            text-decoration: underline;
         }
         #left-m li {
            margin-left: 12%;
            
         }
         #right-m {
            border-radius: 100px;
            
          }
          #right-m h3 {
             float: left;
             padding-top: 15px;
             padding-bottom: 10px;
             margin-left: 20%;
             margin-right: 100%;
             text-decoration: underline;
             
          }
          #right-m li {
            
             margin-left: 15%;
             padding-top: 10px;
             
             
          }
/* contact */
     #info{
        height: 1000px;
        
        
     }   
    #contact {
      width: 20%;
      margin-right: 55px;  
    }
    /* map */
    
    #map {
        
        width: 25%;
    }
    #container {
        height: 300px;
        width: 300px;
        clear: right;
        padding-left: 30px;
        overflow: scroll;
        
    }
    
}
/* navigation bar for screen size 590px and down */
@media (max-width: 590px) {
    #menu {
        display: flex;
        font-size: small;
    }
    #main-image{
        width: 100%;
        height: 400px;
       
    }
    #about {
        float: left;
        width: 100%;
        height: 400px
    }
    #abt-us {
        width: 50%;
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
        
    }
    #abt-us p {
        margin: 0;
        padding: 2px;
    }

    /* menu */
    #menu-card {
        height: 1100px;
        width: 100%;
        background-size: center;
    }
    #left-m {
        height: 500px;
        max-width: 150px;
        float: left;
        overflow: hidden;
        overflow-y: scroll;
        border-radius: 2px;
        margin-left: 25px;
    }
    #right-m {
        height: 500px;
        max-width: 150px;
        float: right;
        overflow: hidden;
        overflow-y: scroll;
        border-radius: 2px;
        margin-right: 25px;
        

    }
    /* contact */
   
    
    #contact {
        display:inline-grid;
        margin-right: 50%;
    }
    #map {
        clear: both;
        margin: 15% auto
    }
    /* footer */
    footer {
        text-align: center;
    }
    
    
}
    
/* navigation for screen size 385px and down */
    @media (max-width: 385px){
        /* menu card */
        #left-m {
            max-width: 100px;
        }
        #right-m{
            max-width: 100px;
    }
    /* map */
    #container{
        height: 250px;
        width: 250px;

    }
}
    






